= content_for :sideblock do

  %h3 Фильтрация
  = search_form_for(@q, url: profiles_path, html: { class: 'auto_submit' }) do |f|
    %p.lh По цене:
    - [[500, 2000], [2000, 5000], [5000, 10000]].each do |price|
      %p
        = f.check_box :price_between, {checked: check_price_params(params[:q], price)}, price[0]..price[1], nil
        = t('profiles.price', min: int_space(price[0]), max: int_space(price[1]))
    %br/

    %p.lh По цвету:

    - Profile::COLORS.each do |color|
      %p
        = f.check_box :color_eq_any, {}, color, nil
        = get_profile_value(color)

    %br/
    %p.lh По типу выполнения:

    - Profile::WORK_TYPES.each do |worktype|
      %p
        = f.check_box :work_type_eq_any, {}, worktype, nil
        = get_profile_value(worktype)