.box
  .profile
    .avatar.left
    %p.left.name
      = profile.username
  .box-img{ style: "background-image:url(#{image_url('1.jpg')})" }
  %p.more
    = t('profiles.price_and_size', price: profile.price, size: profile.tatoo_size)
  %p.more
    = t('profiles.colors', color: get_profile_value(profile.color_name))
  %p.more
    = t('profiles.worktypes', worktype: get_profile_value(profile.work_type))
  %p
    = link_to 'Edit', edit_profile_path(profile)
