- set_meta_tags title: 'Заказать тату'

= render 'filtration'

%h3 #{t 'shared.finding'} #{plural(@profiles_count, 'master')}

- if @profiles.size > 0
  #profiles= render @profiles

  - check_next = @profiles.next_page.nil? ? 'hidden' : nil
  .arrow-line
    = link_to '', profiles_path(page: @profiles.next_page), remote: true, id: 'next_profiles', class: "#{check_next} arrow", title: "Загрузить еще"
- else
  EMPTY