= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.text_field :username, autofocus: true, autocomplete: "username", class: 'email login', placeholder: User.human_attribute_name(:login)
  = f.password_field :password, autocomplete: "current-password", class: 'password login', placeholder: User.human_attribute_name(:password)
  .regist
    = link_to "Регистрация", new_registration_path(resource_name), class: 'circle left'
    = link_to "Вход", "#", :onclick => "$('#new_user').submit()", class: 'circle right'
